<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Shared/stacks.css?v=3f23ce49e8df">
  <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=e1000d304c4a">
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
  <title> Verify email - Flask URL shortener </title>
</head>

<body>
<div class="w100 wmx5 mx-auto s-notice s-notice__success grid" style="position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
  <div class="grid--cell mtn4 mr8">
    <svg aria-hidden="true" class="fc-success svg-icon iconCheckmarkLg" width="36" height="36" viewBox="0 0 36 36"><path d="M6 14l8 8L30 6v8L14 30l-8-8v-8z"></path></svg>
  </div>
    <div class="grid fd-column wmn0 ow-break-word">
      <div class="grid--cell fs-body3 mb8">
        Registration email sent to your email ID. Open your email to finish signup.
      </div>
      <div class="grid--cell fs-body1">
        If you don't see this email in your inbox within 5 minutes, look for it in your junk mail folder. If you find it there, please mark the email as "Not Junk".
      </div>
    </div>
</div>
</body>
</html>